# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
.venv/
ENV/
env/
env.bak/
*.env

# Flask and other environment-specific files
instance/
.env
*.env

# Others
*-backup*
*-iss*


# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
desktop.ini

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
#  Usually these files are written by pyinstaller when creating executable
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments for different versions of python
.pyenv/

# Testing logs and reports
test-results/
coverage/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SQL database files
*.sqlite3

# Logs and debug files
*.log
*.bak

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# JetBrains IDEs
.idea/

# PyCharm/IntelliJ project settings
*.iml
modules.xml
.idea/

# Node.js dependencies
node_modules/

# Lock file
package-lock.json

# npm-debug.log
npm-debug.log*


