/* Custom padding for the navbar */
.navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.custom-navbar-brand {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.custom-member-name {
    color: #ff6347; /* Custom color for member names */
}

/* Shadow and animation for the cards */
.custom-card-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    opacity: 1; /* Ensure the cards are visible by default */
    transform: translateY(0); /* Ensure cards start at their normal position */
    transition: all 0.3s ease; /* Transition for all properties */
}

/* Hover effect for the card */
.custom-card-shadow:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
    transform: translateY(-10px); /* Lift up slightly on hover */
}


/* Keyframe animation for card appearance */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0); /* End in normal position */
    }
}

/* Footer styles */
footer {
    background-color: #343a40;
    padding: 20px 0;
}

footer h5 {
    font-size: 1.25rem;
}

footer a {
    font-size: 1.5rem;
    transition: color 0.3s;
}

footer a:hover {
    color: #f1c40f; /* Customize hover color */
}
