{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<h2>About Cloud Vikings</h2>

<p>
    Cloud Vikings is more than just a Clash of Clans clan—we're a community of battle-hardened warriors who thrive on strategy and collaboration. 
    <strong>Founded on February 13, 2016</strong>, by a group of passionate gamers, our clan has grown into one of the most competitive and respected forces in the game. But more than that, we are not just gamers—we're friends, bound by our shared love for the game and the camaraderie that comes with it.
</p>

<p>
    We believe that victory comes through teamwork, dedication, and careful planning. Our members come from all over the world, uniting under one banner to conquer the battlefield. 
    Whether it's clan wars, raids, or tournaments, Cloud Vikings always fights to win.
</p>

<p>
    Join us and be part of something bigger—a community of friends who push each other to achieve greatness in every battle!
</p>

<h4>Connect with Us</h4>
<p>If you want to join us or stay in touch with the latest clan news, you can connect with us through the following:</p>

<ul class="social-links">
    <li>
        <strong>Cloud Vikings ☁️ Clan Link:</strong> 
        <a href="https://link.clashofclans.com/en?action=OpenClanProfile&tag=29G2P0YUC" target="_blank">
                 
            View Our Clan in CoC
        </a>
    </li>
    <li>
        <strong>Join Our Discord Channel:</strong> 
        <a href="https://discord.gg/dPeHccdK8k" target="_blank">
            Join Cloud Vikings Discord
        </a>
    </li>
</ul>

{% endblock %}
